---
interface Props {
  node: AccessibleImage,
}

import ResponsiveImage from './ResponsiveImage.astro';

const { node: imageNode } = Astro.props;
const { alt, caption, asset } = imageNode;
const { url, metadata } = asset;
const { blurHash, width, height } = metadata;
---

<!-- PortableTextImage content -->
<div class="responsive-image-container">
  <ResponsiveImage
    src={url}
    alt={alt}
    intrinsicWidth={width}
    intrinsicHeight={height}
    blurHash={blurHash}
    sizes="100vw"
    caption={caption}
  ></ResponsiveImage>
</div>

<!-- PortableTextImage style -->
<style>
  .responsive-image-container {
    margin: 1.5rem 0;
  }
</style>