---
type Props = Omit<Post, 'updatedAt' | 'body'> & { thumbnailSizes: string };

import ResponsiveImage from '../components/ResponsiveImage.astro';
import Tags from '../components/Tags.astro';

import { formatDateString } from '../scripts/utils';

const { postedAt, title, shortDescription, slug, thumbnail, tags, thumbnailSizes } = Astro.props;
const { alt, asset } = thumbnail;
const { url, metadata } = asset;
const { blurHash, width, height } = metadata;

const formattedPostedAt = formatDateString(postedAt);
---

<!-- PostSummary content -->
<div>
  <a href={`/${slug}`} class="thumbnail-container">
    <ResponsiveImage
      src={url}
      alt={alt}
      intrinsicWidth={width}
      intrinsicHeight={height}
      blurHash={blurHash}
      sizes={thumbnailSizes}
      zoomOnHover
    ></ResponsiveImage>
  </a>
  <span class="post-publish-date small-text low-emphesis">{formattedPostedAt}</span>
  <a href={`/${slug}`} class="post-title">
    <h5>{title}</h5>
  </a>
  <p>{shortDescription}</p>
  <Tags tags={tags}></Tags>
</div>

<!-- PostSummary styles -->
<style>
  .thumbnail-container {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    display: block;
  }

  .post-publish-date {
    /* Required for applying margin */
    display: inline-block;
  }

  .post-title {
    display: block;
    color: var(--accent-color);
  }
</style>